h1 {
    color: rgb(255, 0, 0);
    font-family: Chalkduster, fantasy;
    border-bottom: black dotted 10px;
    text-align: center;
}

section {
    padding-top: 20px;
}

body {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}
.addGreen {
    background-color: green;
}

td,
th {
    text-align: center;
    font-family: Marker Felt, fantasy;	
}

h2 {
    font-family: Marker Felt, fantasy;
}

#viewTasks {
    text-align: center;
}


#underline {
    border-radius: 10px blue solid;
}

body {
    background-color: tan;
}